# Users Database
# Passwords must be hashed. Use `docker run authelia/authelia:latest authelia crypto hash generate argon2 --password 'yourpassword'`

users:
  admin:
    displayname: "Admin User"
    password: "<argon2_hash_here>"
    email: admin@example.com
    groups:
      - admins
      - users
