{
  "modno": 1,
  "version": 4,
  "instance": "nexus",
  "repos": [
    {
      "id": "local",
      "uri": "/repos",
      "password": "{{ restic_password }}",
      "autoUnlock": true,
      "autoInitialize": true,
      "prunePolicy": {
        "maxUnusedBytes": "10737418240"
      }
    }{% if backups_r2_access_key is defined and backups_r2_access_key != 'CHANGE_ME' %},
    {
      "id": "r2",
      "uri": "rclone:r2:{{ backups_r2_bucket }}",
      "password": "{{ restic_password }}",
      "autoUnlock": true,
      "autoInitialize": true,
      "prunePolicy": {
        "maxUnusedBytes": "10737418240"
      }
    }{% endif %}
  ],
  "plans": [
    {
      "id": "daily-local",
      "repo": "local",
      "paths": [
        "/userdata"
      ],
      "schedule": {
        "cron": "0 2 * * *"
      },
      "retention": {
        "policyKeepLastN": 3
      },
      "excludes": [
        "/userdata/paperless/media",
        "/userdata/booklore/books"
      ]
    }{% if backups_r2_access_key is defined and backups_r2_access_key != 'CHANGE_ME' %},
    {
      "id": "daily-r2",
      "repo": "r2",
      "paths": [
        "/userdata"
      ],
      "schedule": {
        "cron": "0 3 * * *"
      },
      "retention": {
        "policyKeepLastN": 1
      },
      "excludes": [
        "/userdata/paperless/media",
        "/userdata/booklore/books"
      ]
    }{% endif %}
  ],
  "auth": {
    "disabled": true
  }
}
