<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ExitTimeOut</key>
	<integer>120</integer>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.nexus.havm</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/havm</string>
		<string>run</string>
		<string>-c</string>
		<string>/Volumes/Data/Config/homeassistant/config.yml</string>
		<string>--data-dir</string>
		<string>/Volumes/Data/Config/homeassistant</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/opt/homebrew/var/log/havm.log</string>
	<key>StandardOutPath</key>
	<string>/opt/homebrew/var/log/havm.log</string>
	<key>WorkingDirectory</key>
	<string>/Volumes/Data/Config/homeassistant</string>
</dict>
</plist>
